<div class="toolbar">
  <div class="toolbar-logo">
    <img class="toolbar-logo-icon"
         src="assets/img/logo.png"/>
    <div class="toolbar-logo-title">
      ЮНИВУЗ 3.0
    </div>
  </div>

  <div class="toolbar-title">
    ПРИВОЛЖСКИЙ ИССЛЕДОВАТЕЛЬСКИЙ МЕДИЦИНСКИЙ УНИВЕРСИТЕТ
  </div>

  <button class="toolbar-account">
    <img class="toolbar-account-photo"
         src="assets/img/test-account-photo.png"/>
    <div class="toolbar-account-name">
      [Изотова Татьяна]
    </div>
    <img src="assets/img/arrow-down.svg">
  </button>
</div>

<div class="menu">
  <div class="menu-navBar">
    <div class="menu-button">
      <img src="assets/img/menu.svg">
    </div>
    <div class="menu-navButtons">
      <div class="menu-button">
        <img src="assets/img/home.svg">
      </div>
      <div class="menu-button">
        <img src="assets/img/user.svg">
      </div>
      <div class="menu-button">
        <img src="assets/img/rose.svg">
      </div>
      <div class="menu-button">
        <img src="assets/img/page-header-section.svg">
      </div>
      <div class="menu-button">
        <img src="assets/img/inherited.svg">
      </div>
      <div class="menu-button">
        <img src="assets/img/column-clustered.svg">
      </div>
    </div>
  </div>
  <div class="menu-settingsButton menu-button">
    <img src="assets/img/gear.svg">
  </div>
</div>


<div class="content">
  <div class="content-pathAndButton">
    <div class="content-path">
      <span>
        [Главная]
      </span>
      <img src="assets/img/arrow-right.svg">
      <span>
        [Материально-техническое обеспечение]
      </span>
      <img src="assets/img/arrow-right.svg">
      <span class="latest">
        [Категории ОС]
      </span>
    </div>
    <div class="dropdown">
      <button class="content-settingsButton">
        <span>Настройки</span>
        <img src="assets/img/gearWhite.svg">
      </button>
      <div class="dropdown-content">
        <div class="dropdown-inside" style="float:right;">
          <button class="dropdown-inside-button">Справочник ></button>
          <div class="dropdown-inside-content">
            <a>Категории МТО</a>
            <a>Использование МТО</a>
          </div>
        </div>
        <a>Настройки доступа</a>
      </div>
    </div>

  </div>

  <router-outlet></router-outlet>
</div>
